* {
    box-sizing: border-box;
    /*border: 2px solid red;*/
}

html, body {
    font-size: 16px;
    width: 100%;
    padding: 0;
    margin: 0;
    font-family: 'Roboto Slab', serif;
    background-image: url("./Patterns/brickwall.png");

}
.container{
    width: 100%;
}

.navbar {
    width: 100%;
    background-image: url("./Patterns/grey.png");
    color: black;
    height: 75px;
    margin-top: 0;
    display: flex;
    align-items: center;
    /*box-shadow: 0 5px 10px red;*/
}

.navbar > ul {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: flex-end;
    align-items: center;
    font-weight: 600;
}

.navbar > ul > li{
    list-style: none;
    padding-right: 20px;
}

.logo {
    flex-basis: 70px;
    height: 100%;
    padding: 5px;
    margin-left: 20px;
}

.logo > img {
    width: 100%
}

.header {
    display: flex;
    height: 400px;
    background-image: url('./Pics/crop.jpg');
    background-size: cover;
    color: white;
    justify-content: center;
    /*position:fixed;*/
    align-items: center;
    width: 100%;

}
a {
    text-decoration: none;
    color:white;
}

.header > .welcome-box {
    opacity: 0.9;
    background-image: url("./Patterns/grey.png");
    width: 30%;
    height: 120px;
    text-align: center;
    border-radius: 20px;
    font-weight: 600;
}

.welcome-box > p {
    text-shadow: inherit;
}

.content {
    width: 100%;
    display: flex;
    flex-flow: row  wrap;
    text-align: center;
}

.content > p, .content > h2 {
    flex: 1 100%;
    display: inline-block;
    line-height: 75px;
}

.content > p {
    line-height: 0;
}


.images {
    height: 250px;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 0;
}

.subtitle {
    margin-bottom: 0 !important;
}

.single-image {
    display: inline-block;
    margin-right: 40px;
    border-radius: 5px;
}

.content > p, .content > h2 {
    margin-bottom: 50px;
}

.content > .images {
    margin-bottom: 20px;
}

.single-image:last-child {
    margin-right: 0;
}

.single-image > img {
    width: 100%;
    height: 100%;
}

.footer {
    padding: 25px;
    display: flex;
    color:white;
    background-image: url("./Patterns/grey.png");
    justify-content: center;
}
.footer small {
    display: inline-block;
    font-weight: 600;
}

.single-image:first-child {
    margin-left: 20px;
}

.single-image:last-child {
    margin-right: 20px;
}

@media screen and (max-width: 768px) {
    .single-image {
        flex-direction: column;
    }
}


