html {
    position: relative;
    min-height: 100%;
}

body{
	margin: 0 0 60px; /* bottom = footer height */
	font-family: sans-serif;
	background-image: url("./Patterns/brickwall_@2X.png");
}
footer {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 60px;
    width: 100%;
    overflow:hidden;
	background-image: url("./Patterns/grey.png");

}
header {
	background-image: url("./Patterns/grey.png");

}
a {
	text-decoration: none;
	color:white;
}
nav{
	padding-left: 25%;
	padding-right: 25%;
}
nav div {
	display: inline-block;
	margin: 1%;

}
.right-log-in{
	float:right;
}
.right-sign-in{
	float: right;
}

.wrapper {
   display: grid;
   grid-template-columns: 1fr 2fr 1fr;
   grid-auto-rows: 100px; 
}

.middle-first {
  grid-column-start: 2; 
  grid-column-end: 3; 
  grid-row-start: 1; 
  grid-row-end: 5; 
  background-color: grey;
}
.middle-second{
  grid-column-start: 2; 
  grid-column-end: 3; 
  grid-row-start: 5; 
  grid-row-end: 7; 
  background-color: #ffcccc;
}

main{
	100px;
}


