body{
	margin: 0;
	font-family: sans-serif;
	
}
header {
	height: 60px;
	background-image: url("./Patterns/grey.png");
}
a {
	text-decoration: none;
	color:white;
}

nav div {
	display: inline-block;
	margin: 1%;
}

.side-right {
	display: inline-block;
	float:right;
}